<ul class="scroll-div">
	<% tabset.each do |display|
		@id = 		display.object_id
		@image = 	display.image_file
		@obj = 		display.obj_file
		@texture = 	display.texture_file
		@blocks = 	display.blocks
	%>
	<script>
		loadObject(<%=@id%>, "<%=@obj%>", "<%=@texture%>", <%=@blocks%>);
	</script>

	<li><div class="object" id="<%= @id %>"><%= image_tag('test/' + @image,:height => '100') %></div></li>
	<% end %>
</ul>