<%= stylesheet_link_tag "hoverscroll" %>

<script>

//SHARED GLOBALS
var pause = false;
var buildMode = true;

var controller;

var mainGrid = [];
var GRID_SIZE = 30;
var GRID_HEIGHT = 8;
var VOXEL_SIZE = 50;

var objectMeshes = [];
var NObjectsToLoad;

var sceneObjects = [];
var saveState = [];
var currSceneID = 0;
var movement_delta = new THREE.Vector3(0,0,0);

//inputHandlers
var keyeventhandler;
var mouseeventhandler;
var shiftDown = false, ctrlDown = false;
var mouse2D = new THREE.Vector3(0.5, 10000, 0);


//RENDERING 
var container, renderer;
var canvas_width, canvas_height;
var scene, camera, plane;
var projector, raycaster;

var theta = 0;;

var shiftDown = false, ctrlDown = false;
var rollOveredFace;

var cubeGeo;
var rollOverMesh, rollOverMaterial;
var rollOverErrorMaterial;
var defaultMaterial;
var currMeshID = 1;
var currRotation = 0;

var offset = new THREE.Vector3(VOXEL_SIZE/2, VOXEL_SIZE/2, VOXEL_SIZE/2);
var tmpVec = new THREE.Vector3();
var normalMatrix = new THREE.Matrix3();
var idx, intersector;

var objectWorldPosition = new THREE.Vector3(-VOXEL_SIZE/2, VOXEL_SIZE/2,-VOXEL_SIZE/2);
var gridPosition = [0,0,0];

var objLoader;	
var JSONLoader;

$(function(){
	if ( ! Detector.webgl )  {
		Detector.addGetWebGLMessage();	
		$("#toolbox").hide();
		return;	
	}

	//TOOLBOX: tabs, hover-scroll
	$("#toolbox").organicTabs({ });
	$('.scroll-div').hoverscroll({fixedArrows: true, width: 800, height: 112});
	// Starting the movement automatically at loading
	// @param direction: right/bottom = 1, left/top = -1
	// @param speed: Speed of the animation (scrollPosition += direction * speed)
	var direction = 0, speed = 0;
	$(".scroll-div")[0].startMoving(direction, speed);

	if ( ! Detector.webgl ) 
		Detector.addGetWebGLMessage();

	// Currently prints to console, but could potentially be used to load object on click. 
	$(".object").click(
		function(){
			setCurrentObject( $(this).attr('id') );
		}
	);

	$(".button").click( switchMode );
	$(".button").hide();
	$('.buildmode').fadeIn();
	$('.runmode').fadeOut();

	//DISPLAY
	initGraphics("grid_container");
	
	$.ajax({
		url: '/home/get_all_objects',
		dataType: 'json',
		data: { },
		success: function( obj ){
			loadObjects(obj);
		}
	});

	// CONTROLLER TESTING THINGS -------------------------------------------
	console.log("CONTROLLER TESTING ------------------------------------------");
	console.log("Controller construction -------------------------------------");
	controller = new RubeJectController();
/*
	// Instantiate objects needed.
	var blocks = new Array();
	blocks.push(new RubeJect(1,[1,0,5],0)); blocks.push(new RubeJect(1,[2,0,5],0)); 
	blocks.push(new RubeJect(1,[6,0,0],0)); //blocks.push(new RubeJect(1,[3,0,6],0));
	var arrow = new RubeJect(6,[0,0,6],0);
	var sphere = new RubeJect(4,[1,0,6],0);
	var ramp = new RubeJect(3,[3,0,4],0);

	// Add all objects to controller.
	for (var i = 0; i < blocks.length; i++) {controller.AddObject(blocks[i], false);}
	controller.AddObject(arrow,true); controller.AddObject(ramp,false); controller.AddObject(sphere,false); 
	//controller.PrintAllObjects();
	//controller.PrintAllStartingObjects();
	//controller.PrintGrid();

	/*var arrow = new RubeJect(6,[0,0,0],0);
	var sphere = new RubeJect(4,[1,0,0],0);
	controller.AddObject(arrow);
	controller.AddObject(sphere);*/


	var ramp2 = new RubeJect(4,[5,0,4],0);
	if (controller.CanPlaceObject(ramp2.blockList,ramp2.position,ramp2.category)) 
		console.log("Intersection test FAILED.");
	else console.log("Intersection test passed.");

	var sphere2 = new RubeJect(5,[8,0,3],0);
	if (controller.CanPlaceObject(sphere2.blockList,sphere2.position,sphere2.category)) 
		console.log("Floating test FAILED.");
	else console.log("Floating test passed.");

	var block2 = new RubeJect(1,[0,0,31],0);
	if (controller.CanPlaceObject(block2.blockList,block2.position,block2.blockList)) 
		console.log("Bounds test FAILED");
	else console.log("Bounds test passed.");
	
	// Test chaining
	/*controller.CreateChains();
	console.log("Animation construction --------------------------------------");
	controller.InitiateAnimation();
	var hasNextFrame = true;*/
	//while (hasNextFrame) {
	//	hasNextFrame = controller.UpdateAnimation();
	//}
		

	console.log("ENDING TESTING OF CONTROLLER --------------------------------");
	controller.ReInitializeAll();
	console.log("RESETTED CONTROLLER -----------------------------------------");

	// Ending testing of controller -----------------------------------------

	$('.loading').hide();
	animate();
});

</script>
<div class='loading'>Loading...</div>
<div id='grid_container'>
</div>

<div id="toolbox" class='buildmode'>
					
	<ul class="nav">
		<li class="nav-one"><a href="#cat1" class="current">Inerts</a></li>
		<li class="nav-two"><a href="#cat2">Roamers</a></li>
		<li class="nav-three"><a href="#cat3">Carriers</a></li>
		<li class="nav-four"><a href="#cat4">Gadgets</a></li>
		<li class="nav-five"><a href="#cat5">Initial Forces</a></li>
	</ul>
    		
    <div class="list-wrap">
    	<div id="cat1">    		
    		<%= render :partial => "tabs", :locals => {:tabset => @inerts}  %>
    	</div>
        		 
       	<div id="cat2" class="hide">
    		<%= render :partial => "tabs", :locals => {:tabset => @roamers}  %>
    	</div>

		<div id="cat3" class="hide">
	    	<%= render :partial => "tabs", :locals => {:tabset => @carriers}  %>
		</div>

		<div id="cat4" class="hide">
	   		<%= render :partial => "tabs", :locals => {:tabset => @gadgets}  %>
		</div>

		<div id="cat5" class="hide">
	   		<%= render :partial => "tabs", :locals => {:tabset => @starters}  %>
		</div>

	</div> <!-- END List Wrap -->
</div> 	

<div id="button_container">
	<div class='button buildmode'>Run</div>
	<div class='button runmode'>Stop</div>
</div>

